<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Sistema de Cadastro</title>
</head>
<body>
    <div class="button-container">
        <h2>Controle Escolar</h2>
        <a href="alunos.html" class="btn btn-primary btn-lg">
            <i class="fas fa-user-graduate"></i> Alunos
        </a>
        <a href="disciplinas.html" class="btn btn-primary btn-lg">
            <i class="fas fa-book"></i> Disciplinas
        </a>
        <a href="notas.html" class="btn btn-primary btn-lg">
            <i class="fas fa-clipboard"></i> Notas
        </a>
        <a href="professores.html" class="btn btn-primary btn-lg">
            <i class="fas fa-chalkboard-teacher"></i> Professores
        </a>
        <a href="boletim.html" class="btn btn-primary btn-lg">
            <i class="fas fa-file-alt"></i> Boletim
        </a>
        <a href="presenca.html" class="btn btn-primary btn-lg">
            <i class="fas fa-calendar-check"></i> Presença
        </a>
        <a href="sair.html" class="btn btn-danger btn-lg">
            <i class="fas fa-sign-out-alt"></i> Sair
        </a>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>